*{
    margin: 0;
    padding: 0;
}
.header_top{
    display: flex;
    flex-direction: row;
    /* gap: 25px; */
    align-items: center;
    width: 270px;
    height: 49px;
}
.header_hamber_burger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin: 1px;
    padding: 6px 0px 8px;
} 
.header_hamber_burger img{
    width: 20px;
    height: 20px;
    margin-top: 7px;
}
.header_search{
    display: flex;
    align-items: center;
    /* padding-left: 7px; */
    width: 34px;
    height: 32px;
    margin: 0px 6px;
    padding: 8px 8px 8px 0px;
}
.header_search img{
    width: 16px;
    height: 18px;
    margin: 0px 0px 0px 2px;
}
.header_logo{
    display: flex;
    align-items: center;
    padding: 12px 4px;
    margin: 1px;
}
.header_logo img{
    width: 108px;
    height: 23px;
    margin: -3px 0px 0px;
}
